<footer class="site-footer">
    <p class="text">
        &copy; {{ 'now' | date: "%Y" }} {{ site.title | default: "Jean Bolvy" }}
    </p>
    {% if site.mermaid %}
        <script type="module">
          mermaid.initialize({ startOnLoad: false, theme: "default" });
          mermaid.run({ nodes: [...document.querySelectorAll('.language-mermaid'), ...document.querySelectorAll('.mermaid')] });
        </script>
    {% endif %}
</footer>
